/* google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}



#hero {
    background-color: #141b29;
    padding-top: 1.7rem;
    padding-bottom: 2.5rem;
}
.hero-content {
    color: #fff;
}
.hero-content h1 {
    font-weight: 800;
    text-shadow: 0px 0px 2px black;
    letter-spacing: 2px;
    line-height: 2.2rem;
}
.motto {
    width: 53%;
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
    margin-bottom: 12px;
}
.motto h4 {
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    text-shadow: 0px 0px 2px black;
    text-transform: lowercase;
    font-size: 1.2rem;
}
.motto h4 i {
    font-size: 1rem;
    margin-right: 5px;
    text-shadow: 0px 0px 2px black;
}
.hero-btn {
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.hero-btn a .butt-1,
.hero-btn a .butt-2 {
    -webkit-transition: 500ms linear;
    transition: 500ms linear;
}
.hero-btn a .butt-1:hover {
    transform: scale(1.1);
}
.hero-btn a .butt-2:hover {
    transform: scale(1.1);
}
.hero-btn buttons-2 {
    background-color: #fff;
    border: none;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 5px;
    margin-right: 1rem;
}
.hero-icons {
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin-top: 1.2rem;
    font-size: 13px;
}
.heading-text {
    font-weight: 800;
    color: #141b29;
    font-size: 15px;
    margin-top: 1rem;
    margin-bottom: .9rem;
}
#services {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #5ac994;
}
.service-card {
    background-color: #141b29;
    box-shadow: 0px 0px 2px black;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    -webkit-transition: 500ms linear;
    transition: 500ms linear;
}
.service-card:hover {
    
}
.service-card h2 {
    font-weight: 600;
    font-size: 20px;
    text-shadow: 0px 0px 1px black;
    text-decoration: none !important;
}
.service-card h6 {
    font-weight: 500;
    letter-spacing: .5px;
    line-height: 25px;
    text-shadow: 0px 0px 1px black;
    text-decoration: none;
}
.service-card i {
    margin-bottom: 10px;
    text-shadow: 0px 0px 1px black;
}
.box {
    display: flex;
    justify-content: space-between;
}
#feedback {
    background-color: #141b29;
    padding-top: 2.2rem;
    padding-bottom: 1.7rem;
    margin-top: 0px !important;
}
.feedback-box h1 {
    color: #fff;
    font-weight: 800;
    /* text-shadow: 0px 0px .1px black; */
}
.feedback-box h6 {
    color: #fff;
    font-weight: 400;
}
#extra {
    background-color: #5ac994;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: -2rem !important;
}
.extra-box h4 {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .8px;
    text-shadow: 0px 0px .8px black;
}
.extra-btn {
    border: none;
    background-color: #141b29 !important;
    color: #fff !important;
    font-size: 13px;
    font-weight: 500;
    padding: 5px 17px 5px 13px;
    margin-top: 5px;
}
footer {
    background-color: #141b29;
    color: #fff;
}
.footer-text h6 {
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    margin-top: 8px;
}

@media screen and (max-width: 768px) {
    .hero-btn {
        width: 83%;
    }
    .motto {
        width: 65%;
    }
    .motto h4 {
        font-size: .9rem;
    }
    .motto h4 i {
        font-size: .9rem;
    }
    .service-card {
        margin-bottom: 20px;
    }  
    .service-card i {
        margin-bottom: 13px;
        margin-top: 5px;
    }
    .service-card h2 {
        font-size: 17px;
    }
    .service-card h6 {
        font-size: 13px;
    }
    #feedback {
        margin-bottom: 15px;
        margin-top: 8px;
    }
    .box {
        width: 90%;
    }
    #extra {
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
    }
    .extra-btn {
        border: none;
        background-color: #fff;
        color: #0150b8;
        font-size: 13px;
        font-weight: 500;
        padding: 1px 17px 1px 13px;
    }
    .feedback-box h1 {
        margin-left: 3.5rem;
        font-size: 15px;
    }
    .feedback-box h6 {
        margin-top: -5px;
        font-size: 12px;
        margin-left: 2rem;
    }
    Footer {
        color: #0150b8;
    }
}
@media screen and (max-width: 768px) {
    .service-card:hover {
    }
}
@media screen and (min-width: 768px) { 
    .service-card {
       margin-right: 10px;
       height: 12rem;
       margin-bottom: 30px;
    }
    .feedback-box h1 {
        margin-left: 10.5rem;
        font-size: 25px;
    }
    .feedback-box h6 {
        margin-left: 8.8rem;
    }
    #feedback {
        margin-bottom: 2rem;
        margin-top: .5rem;
    }
    .heading-text {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    #extra {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}

@media screen and (max-width: 407px) {
    .feedback-box h1 {
        font-size: 15px;
    }
    .feedback-box h6 {
        font-size: 12px;
        margin-left: 1.9rem;
    }
}

@media screen and (max-width: 380px){
    .box {
        width: 95%;
    }
    .feedback-box h1 {
        font-size: 15px;
        margin-left: 2.8rem;
    }
    .feedback-box h6 {
        margin-left: 1.4rem;
    }
}
@media screen and (max-width: 395px) {
    .hero-btn {
        width: 90%;
    }
    .hero-btn a .butt-1,
    .hero-btn a .butt-2 {
        font-size: 15px;
    }
}
