@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
#header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    -webkit-box-shadow: 0 10px 5px #141b29;
    -moz-box-shadow: 0 10px 5px #141b29;
    box-shadow: 0 -15px 25px #141b29;
}
.header-text {
    display: flex;
    justify-content: space-between;
    color: #141b29;
    font-weight: 900 !important;
}
.header-img {
    width: 2.5rem;
    height: 2.5rem;
}
.header-text h4 {
    font-weight: 500;
    font-size: 1rem;
    margin-top: 8px;
    font-weight: 700;
}
.coin-section-header {
    color: #141b29;
}
.coin-section-header h1 {
    font-weight: 600;
    margin-top: 2rem !important;
}
.coin-section-header h6 {
    font-size: 15px;
    font-weight: 400;
    margin-top: 1rem;
}
.coin-section-footer {
    color: #141b29;
    margin-top: 1.5rem;
}
.coin-section-footer h6 {
    font-size: 12px;
    font-weight: 400;
}
.coin-section-icons i {
    font-size: 12.5px;
}
.coin {
    background-color: #fff;
    border: none;
}
.coin-img {
    width: 5rem;
    height: 5rem;
    -webkit-transition: 500ms linear;
    transition: 500ms linear;
}
.coin-img:hover {
    transform: scale(1.1);
}
.coin-registry {
    margin-top: 2.5rem;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-column-gap: 5rem !important;
  grid-row-gap: 1rem !important;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."; 
}
.coin h4 {
    font-weight: 600;
    color: #141b29;
    font-size: 11px !important;
    margin-top: 13px;
}
.wallet-address {
    background-color: #fff;
    color: #141b29;
    border: 2px solid #141b29 !important;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 3rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.modal_title {
    color: #141b29; 
    font-weight: 600; 
    font-size: 15px;
}
.btn_close {
    color: red !important;
}
.btn_proceed {
    background-color: #141b29; 
    color: #fff; 
    font-weight: 400; 
    font-size: 15px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #141b29 !important;
    border: none;
}
small {
    color: gray;
    font-size: 10px;
    position: absolute;
    left: 15px;
}
.load {
    font-size: 0;
    height: 60px;
    width: 60px;
    background: transparent;
    border: 4px solid #fff;
    border-radius: 50%;
    border-top-color: transparent;

}

@media screen and (max-width: 768px) {
    .coin-registry {
        margin-top: 2rem;
        display: grid !important; 
        grid-template-columns: 1fr 1fr 1fr !important;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: 1rem !important;
        grid-template-areas:
        ". . ."
        ". . ."
    }
    .coin-img {
        width: 2.5rem;
        height: 2.5rem;
    }
    .coin h4 {
        font-size: 12px;
    }
    #header {
        padding-top: 10px;
    }
    .header-img {
        width: 2.3rem;
        height: 2.3rem;
    }
    .header-text h4 {
        margin-top: 10px;
        font-weight: 700;
    }
    .wallet-address {
        width: 100%;
    }
}